<!-- Main Banner Section Starts -->
<section class="main-banner one parallax">
  <!-- Nested Container Starts -->
      <div class="container">
      <!-- Nested Row Starts -->
          <div class="row">
          <!-- Banner Content Starts -->
              <div class="col-lg-5 col-md-6 col-sm-12 text-center">
                  <h1>About <br class="d-xs-block d-sm-block d-md-none">FoodBingo!</h1>
                  <ul class="list-unstyled">
                      <li>FoodBingo is an online portal.</li>
                      <li>Ordering Food &amp; Delivery from restaurants of choice. </li>
                      <li>Table booking &amp; Restaurants.</li>
                      <li>Deals &amp; Discounts</li>
                      <li>Party Halls online booking</li>
                  </ul>
              </div>
          <!-- Banner Content Ends -->
          <!-- Offset Col Starts -->
              <div class="col-lg-8 col-md-6 col-sm-12 d-xs-none d-sm-none d-sm-block"></div>
          <!-- Offset Col Ends -->
          </div>
      <!-- Nested Row Ends -->
      </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Main Banner Section Ends -->
<!-- Main Container Starts -->
<div class="container main-container">
  <!-- Intro Content Starts -->
      <div class="row">
          <div class="col-sm-10 offset-sm-1">
              <h1 class="text-center text-weight-light text-spl-color">What Does FoodBingo ?</h1><br>
              <div class="text-center text-muted">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
          </div>
      </div>
  <!-- Intro Content Ends -->
  <!-- Spacer Starts -->
      <div class="spacer-1 d-xs-none d-sm-none d-md-block"></div>
  <!-- Spacer Ends -->
  <!-- Starts -->
      <div class="row">
          <div class="col-md-6 col-sm-12 offset-lg-1">
              <ul class="list-style-1 text-xs-center text-sm-center text-md-left">
                  <li>Over 10,000 restaurants in 500+ cities - with more being added each week.</li>
                  <li>Email, call or message us – 24 hours a day, every day.</li>
                  <li>A service that's 100% free and insanely intuitive to use.</li>
                  <li>A 100% free and insanely intuitive mobile site.</li>
                  <li>Easy re-ordering and pre-ordering for users.</li>
                  <li>Cash back for future orders through Paytmm.</li>
              </ul>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 text-center">
              <img src="images/image2.jpeg" alt="Image" class="img-fluid">
          </div>
      </div>
  <!-- Ends -->
  </div>
<!-- Main Container Ends -->
<!-- Newsletter Section Starts -->
<section class="footer-top">
<!-- Nested Container Starts -->
<div class="container">
  <h3 class="text-center text-weight-bold">Subscribe to our Newsletter:</h3>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item"><i class="fa fa-check-circle"></i> Receive deals from all our top restaurants via e-mail</li>
    <li class="list-inline-item"><i class="fa fa-check-circle"></i> Don't miss out on our great offers</li>
  </ul>
<!-- Newsletter Form Starts -->
  <form class="newsletter-form">
  <!-- Nested Row Starts -->
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <label class="sr-only" for="newsletter-city">Please Select Your City</label>
        <input type="text" class="form-control" id="newsletter-city" placeholder="Please Select Your City">
      </div>
      <div class="col-md-5 col-sm-12">
        <label class="sr-only" for="newsletter-email">Email</label>
        <input type="text" class="form-control" id="newsletter-email" placeholder="Enter Your E-mail Id">
      </div>
      <div class="col-md-3 col-sm-12">
        <button type="submit" class="btn btn-prime btn-block text-uppercase text-weight-bold animation">Sign Up Now</button>
      </div>
      <div class="col-sm-12 text-center">
        <h6 class="text-weight-bold">
          <label>
            <input type="checkbox"> 
            <span>I have read &amp; accepted the terms and conditions and privacy policy</span>
          </label>
        </h6>
      </div>
    </div>
  <!-- Nested Row Ends -->
  </form>
<!-- Newsletter Form Ends -->
</div>
<!-- Nested Container Ends -->
</section>
<!-- Newsletter Section Ends -->
